[phases.setup]
nixPkgs = ["nodejs-18_x", "python310Full", "python310Packages.pip"]

[phases.install]
cmds = [
  "python -m pip install -e .",
  "python -m pip install fastapi uvicorn"
]

[phases.build]
cmds = [
  "cd web && npm install",
  "cd web && npm run build"
]

[start]
cmd = "cd web && npm start"
